doctype html

head
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	title Document
body
	h1 Hello World!
	p
		| Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Veritatis dignissimos maxime soluta est doloremque quia voluptatem facilis porro amet sequi!
	ul
		li Lorem
		li Ipsum
		li Dolor
	link(href=require('../sass/style.sass') rel='stylesheet')
	script(src=require('../js/app.js'))
